@import 'https://fonts.googleapis.com/css?family=Open+Sans';

/*  RESET  */
* {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
}

/*  GENERAL  */
body {
  background: #f9f9f9;
  font: 14px 'Open Sans', sans-serif;
  color: #2c2c2c;
}
.wrapper {
  width: 1060px;
  margin: 0 auto;
  padding: 0 45px 60px;
  background: #fff;
  -webkit-box-shadow: 0 5px 5px 0 rgba(0,0,0,.3);
  box-shadow: 0 5px 5px 0px rgba(0,0,0,.3);
  box-sizing: border-box;
}

/*  HEADER  */
header {
    padding: 50px 0 0;
}
.nav {
    margin: 40px 0 0;
    background: linear-gradient(to top, #444343, #5e5e5e);
}
.nav li {
    display: inline-block;
    vertical-align: top;
    box-sizing: content-box;
}
.nav li:hover {
    background: linear-gradient(to top, #2e2e2e, #4a4a4a);
    border-right: 1px solid #838383;
    border-left: 1px solid #838383;
    margin: 0 -1px;
}
.nav li a {
    display: block;
    padding: 0 20px;
    color: #fff;
    font-size: 15px;
    line-height: 40px;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}

/* SIDEBAR  */
.sidebar {
    display: inline-block;
    vertical-align: top;
    margin: 40px 45px 0 0;
}
.sidebar-menu {
    width: 240px;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
}
.sidebar-menu li a {
    display: block;
    padding: 0 0 0 25px;
    line-height: 40px;
    border-bottom: 1px solid #c8c8c8;
    color: #656363;
    text-decoration: none;
    transition: padding .2s ease-in-out;
}
.sidebar-menu li:last-child a {
  border-bottom: none;
}
.sidebar-menu li a:hover {
    padding-left: 35px;
    background: #f9f9f9;
    color: #2c2c2c;
}

/*  CONTENT  */
.content {
    display: inline-block;
    vertical-align: top;
    width: 680px;
    margin: 40px 0 0;
}
.content-main-img {
    display: flex;
    height: 410px;
    margin: 0 0 40px;
    align-items: center;
    justify-content: center;
    border: 1px solid #c8c8c8;
    box-sizing: border-box;
}

/*  FOOTER  */
footer {
    margin: 60px 0 0;
    background: #e1e1e1;
}

.footer-menu {
    display: inline-block;
}
.footer-menu li {
    display: inline-block;
    vertical-align: top;
}
.footer-menu li a {
    display: block;
    padding: 0 30px;
    line-height: 40px;
    color: #2c2c2c;
    text-decoration: none;
    text-shadow: 0 1px 1px rgba(0,0,0,.5);
}
.footer-menu li a:hover,
.footer-menu .active a {
  text-decoration: underline;
}
.footer-copyright {
    float: right;
    margin: 0 25px 0 0;
    line-height: 40px;
}
