/*  RESET  */
* {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none;
}

/*  GENERAL STYLES  */
body {
  background: url(../img/body-bg.jpg) no-repeat center center/cover;
  font: 16px Tahoma, sans-serif;
  color: #fff;
}
.wrapper {
  width: 820px;
  margin: 0 auto;
}

/*  HEADER  */
header {
  padding: 80px 0 0;
}
.header-logo {
  position: relative;
  display: inline-block;
  width: 263px;
  font-size: 12px;
  text-align: center;
}
.header-logo:after {
  position: absolute;
  right: 0;
  bottom: -19px;
  content: url(../img/header-logo-bg.png);
  display: block;
}
.header-logo img {
  width: 100%;
}
.header-contacts {
  float: right;
  margin: 10px 0 0;
  font-size: 12px;
  line-height: 1.2;
}
.header-contacts-title {
  font-size: 13px;
  font-weight: bold;
}

/*  CONTENT  */
.content {
  margin: 15px 0 0;
}
.countries-block {
  text-align: center;
  font-size: 0;
}
.countries-item {
  display: inline-block;
  vertical-align: top;
  margin: 0 13px 50px 0;
  font-size: 16px;
}
.countries-item:nth-child(3n) {
  margin-right: 0;
}
.countries-item-img {
  width: 260px;
  height: 178px;
  border: 3px solid #9b9b9b;
  border-radius: 2px;
  -webkit-box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 1);
  box-sizing: border-box;
  overflow: hidden;
  cursor: pointer;
}
.countries-item-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform .6s ease-in-out;
}
.countries-item-img:hover img {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.countries-item-title {
  margin: 3px 0 0;
  text-align: center;
}

/*  FOOTER  */
footer {
  margin: 180px 0 30px;
}
.footer-copyright {
  font-size: 12px;
  text-align: center;
}
